In [27]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
city_bike_data0 = pd.read_csv("/Users/shardendujha/Documents/Solita_Project/2021-05.csv")
city_bike_data1 = pd.read_csv("/Users/shardendujha/Documents/Solita_Project/2021-06.csv")
city_bike_data2 = pd.read_csv("/Users/shardendujha/Documents/Solita_Project/2021-07.csv")

In [29]:
merged_df = pd.concat([city_bike_data0, city_bike_data1, city_bike_data2])

In [30]:
merged_df

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
1208839,2021-07-01T00:00:39,2021-07-01T00:04:40,125,Arielinkatu,404,Sompasaari,479.0,236
1208840,2021-07-01T00:00:26,2021-07-01T00:22:18,41,Ympyrätalo,11,Unioninkatu,4233.0,1311
1208841,2021-07-01T00:00:19,2021-07-01T00:03:32,47,Vanha Kauppahalli,12,Kanavaranta,667.0,193
1208842,2021-07-01T00:00:11,2021-07-01T00:07:06,99,Muusantori,93,Torpanranta,2141.0,414
1208843,2021-07-01T00:00:04,2021-07-01T00:04:32,28,Lastenlehto,30,Itämerentori,790.0,264

In [16]:
# check data type
print(merged_df.dtypes)

Departure                  object
Return                     object
Departure station id        int64
Departure station name     object
Return station id           int64
Return station name        object
Covered distance (m)      float64
Duration (sec.)             int64
dtype: object

In [17]:
# Check for missing values
print(merged_df.isna().sum())

Departure                    0
Return                       0
Departure station id         0
Departure station name       0
Return station id            0
Return station name          0
Covered distance (m)      2330
Duration (sec.)              0
dtype: int64

In [18]:
merged_df = merged_df.dropna()
print(merged_df.isna().sum())

Departure                 0
Return                    0
Departure station id      0
Departure station name    0
Return station id         0
Return station name       0
Covered distance (m)      0
Duration (sec.)           0
dtype: int64

In [19]:
# Check for duplicate rows
print(merged_df.duplicated().sum())

# Drop duplicate rows
merged_df = merged_df.drop_duplicates()

1622336

In [20]:
merged_df

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
604417,2021-07-01T00:00:39,2021-07-01T00:04:40,125,Arielinkatu,404,Sompasaari,479.0,236
604418,2021-07-01T00:00:26,2021-07-01T00:22:18,41,Ympyrätalo,11,Unioninkatu,4233.0,1311
604419,2021-07-01T00:00:19,2021-07-01T00:03:32,47,Vanha Kauppahalli,12,Kanavaranta,667.0,193
604420,2021-07-01T00:00:11,2021-07-01T00:07:06,99,Muusantori,93,Torpanranta,2141.0,414
604421,2021-07-01T00:00:04,2021-07-01T00:04:32,28,Lastenlehto,30,Itämerentori,790.0,264

In [21]:
# Don't import journeys that lasted for less than ten seconds
df_gt_10_s = merged_df.loc[merged_df['Duration (sec.)'] >= 10]

In [22]:
df_gt_10_s

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
604417,2021-07-01T00:00:39,2021-07-01T00:04:40,125,Arielinkatu,404,Sompasaari,479.0,236
604418,2021-07-01T00:00:26,2021-07-01T00:22:18,41,Ympyrätalo,11,Unioninkatu,4233.0,1311
604419,2021-07-01T00:00:19,2021-07-01T00:03:32,47,Vanha Kauppahalli,12,Kanavaranta,667.0,193
604420,2021-07-01T00:00:11,2021-07-01T00:07:06,99,Muusantori,93,Torpanranta,2141.0,414
604421,2021-07-01T00:00:04,2021-07-01T00:04:32,28,Lastenlehto,30,Itämerentori,790.0,264

In [31]:
# Don't import journeys that covered distances shorter than 10 meters
df_gt_10_m = df_gt_10_s.loc[df_gt_10_s['Covered distance (m)'] >= 10]

In [32]:
df_gt_10_m

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
604417,2021-07-01T00:00:39,2021-07-01T00:04:40,125,Arielinkatu,404,Sompasaari,479.0,236
604418,2021-07-01T00:00:26,2021-07-01T00:22:18,41,Ympyrätalo,11,Unioninkatu,4233.0,1311
604419,2021-07-01T00:00:19,2021-07-01T00:03:32,47,Vanha Kauppahalli,12,Kanavaranta,667.0,193
604420,2021-07-01T00:00:11,2021-07-01T00:07:06,99,Muusantori,93,Torpanranta,2141.0,414
604421,2021-07-01T00:00:04,2021-07-01T00:04:32,28,Lastenlehto,30,Itämerentori,790.0,264

In [33]:
filtered_data = df_gt_10_m

In [34]:
filtered_data.to_csv('filtered_data.csv', index=False)

In [35]:
final_merged_data = pd.read_csv("filtered_data.csv")

In [36]:
final_merged_data

,Departure,Return,Departure station id,Departure station name,Return station id,Return station name,Covered distance (m),Duration (sec.)
0,2021-05-31T23:57:25,2021-06-01T00:05:46,94,Laajalahden aukio,100,Teljäntie,2043.0,500
1,2021-05-31T23:56:59,2021-06-01T00:07:14,82,Töölöntulli,113,Pasilan asema,1870.0,611
2,2021-05-31T23:56:44,2021-06-01T00:03:26,123,Näkinsilta,121,Vilhonvuorenkatu,1025.0,399
3,2021-05-31T23:56:23,2021-06-01T00:29:58,4,Viiskulma,65,Hernesaarenranta,4318.0,2009
4,2021-05-31T23:56:11,2021-06-01T00:02:02,4,Viiskulma,65,Hernesaarenranta,1400.0,350
...,...,...,...,...,...,...,...,...
1564374,2021-07-01T00:00:39,2021-07-01T00:04:40,125,Arielinkatu,404,Sompasaari,479.0,236
1564375,2021-07-01T00:00:26,2021-07-01T00:22:18,41,Ympyrätalo,11,Unioninkatu,4233.0,1311
1564376,2021-07-01T00:00:19,2021-07-01T00:03:32,47,Vanha Kauppahalli,12,Kanavaranta,667.0,193
1564377,2021-07-01T00:00:11,2021-07-01T00:07:06,99,Muusantori,93,Torpanranta,2141.0,414
1564378,2021-07-01T00:00:04,2021-07-01T00:04:32,28,Lastenlehto,30,Itämerentori,790.0,264

In [38]:
engine = create_engine('postgresql://postgres:computer@localhost/solita')

In [39]:
final_merged_data.to_sql('citybiketable', engine, if_exists='replace', index=False)

379